html(lang='en')
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		title Chess: Bored Games
		link(rel='stylesheet' href='css/chess.css')
		link(rel='stylesheet' href='css/style.css')

		script(type='text/javascript' src="/js/chessPieceMoves.js")
		script(type='text/javascript' src="/js/jquery.js")
		script(type='text/javascript' src='/js/chessPieceSelection.js')
			
	body
		.header
			a.nav-button(href='/') home
			a.nav-button(href='/logout') logout
		.main
			h1 Chess!
			- if(hasTurn == 'true')
				h2= "It is your turn"
			- else
				h2= "It is " + opponent + "'s turn"
			- var columns = ['a','b','c','d','e','f','g','h']
			- var rows = ['1','2','3','4','5','6','7','8']

			input.hidden#playerColour(type='text' value= playerColour disabled)
			input.hidden#hasTurn(type='text' value= hasTurn disabled)
			input.hidden#moveData(form='moveForm' type='text' name='movement' value='hi')

			form#moveForm(method='post')
				input.nav-button#submitButton(form='moveForm' type='submit' value='Submit Move')
			table
				tr.topRow
					td
					- for(var j=0; j<columns.length; j++)
						td
							h= columns[j]
				- for(var i=0; i<rows.length; i++)
					tr
						td.sideColumn
							h= rows[i]
						- for(var j=0; j<columns.length; j++)
							- var cellname = columns[j] + rows[i]
							td.tile(id = cellname)
								- each p in pieces
									- if(p.location == cellname)
										- var name = p.name + ""
										if(p.colour == 0)
											h.first(id=cellname+'name')= p.name
										else
											h.second(id=cellname+'name')= p.name
										h.hidden(id=cellname+'colour')= p.colour
							
							